<div class="contracts pb-2">
  <div class="flex items-center px-4 pt-4">
    <span class="material-icons">done</span>
    <p class="ml-2"><b>他ユーザーに発注した依頼</b></p>
  </div>
  <% if contracts.empty? %>
    <div class="flex px-4 py-2 hover:bg-gray-50">
      <p class="text-sm text-gray-500">他ユーザーに発注した依頼はありません</p>
    </div>
  <% end %>
  <% contracts.each do |contract| %>
    <%= link_to job_path(contract.job_id), data: {"turbolinks" => false} do %>
      <div class="flex px-4 py-2 hover:bg-gray-50 active:bg-gray-100">
        <%= contract.job.name %>
      </div>
    <% end %>
  <% end %>
</div>