<div class="favorite pb-2">
  <div class="flex items-center px-4 pt-4">
    <%= image_tag("star.png", class:"w-6") %>
    <p class="ml-2"><b>お気に入りした依頼</b></p>
  </div>
  <% if favorites.empty? %>
    <div class="flex px-4 py-2 hover:bg-gray-50">
      <p class="text-sm text-gray-500">お気に入りした依頼はありません</p>
    </div>
  <% end %>
  <% favorites.each do | favorite |%>
    <%= link_to job_path(favorite.job_id), data: {"turbolinks" => false} do %>
      <div class="flex items-center px-4 py-2 hover:bg-gray-50 active:bg-gray-100 hover:rounded-md">
        <p class="mr-2"><%= favorite.job.name %></p>
      </div>
    <% end %>
  <% end %>
</div>