<% if check_follow.nil? %>
  <div class="mt-16 flex justify-center">
    <%= link_to "フォローする", user_create_follow_path(params[:id]), class: "w-full bg-gray-500 text-white text-center", method: :post, remote: true %>
  </div>
<% else %>
  <div class="mt-16 flex justify-center">
    <%= link_to "フォローをはずす", user_destroy_follow_path(params[:id]), class: "w-full bg-gray-500 text-white text-center", method: :delete, remote: true %>
  </div>
<% end %>