<div class="mt-4 flex justify-center">
  <% if user_signed_in?%>
    <% if check_follow.nil? %>
      <%= link_to "フォローする", user_create_follow_path(params[:id]), class: "px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700", method: :post, remote: true %>
    <% else %>
      <%= link_to "フォローをはずす", user_destroy_follow_path(params[:id]), class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100", method: :delete, remote: true %>
    <% end %>
  <% else %>
    <%= link_to "フォローする", new_user_session_path, class: "px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %>
  <% end %>
</div>